body {
                        
        font-family: 'Fugaz One', cursive;
        background: #15202B; 
        letter-spacing: 0.4px;
        background: rgb(69,33,130);
        background: linear-gradient(180deg, rgba(69,33,130,1) 35%, rgba(34,33,130,1) 100%);
        color: #FCFCFC;
        min-height: 98vh;
    }	









.opciones {

        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        content: center;
        padding: 7px;
        align-items: center;
        gap: 25px;
        justify-content: center;


}











.divTituloQueComer {


        padding: 7px;

        
}


















.seccionsuperior {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        gap: 18px;
        max-width: 80%;
        justify-content: center;
         align-items: center;                      
      }











footer {
        
        position: absolute;
        display: flex;
        gap: 55px;
         
        flex-direction: row;
        background: #312182;
        left: 0;
        right: 0;               
        margin-top: 113px;
        color: #FCFCFC;
        bottom: 0;
        justify-content: center;
        font-size: 25px;
        
    }















 h1 {
        font-size: 45px;
        text-align: center;
        color: #55D676;
        margin: 5px;
}












.divComidas {
        display: flex;
        gap: 13px;
        padding: 7px;
        flex-direction: row;
        grid-template-columns: 2fr 1fr;
        border: 2.1px solid #3f0c00;
        background: #811800;
        color: #FFC4C4;
        border-radius: 5.65px;
        max-width: 100%;
        align-items: center;
        justify-items: end;
        font-size: 24px;
        
}

