

                body {
                        
                        font-family: 'Fugaz One', cursive;
                        background: #15202B; 
                        letter-spacing: 0.4px;
                        background: #452182;
                        color: #FCFCFC;
            	}	








	        .seccionsuperior {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        margin-left: auto;
                        margin-right: auto;
                        gap: 11px;
                        max-width: 80%;
                        justify-content: center;
                        align-items: center;                      
	              	}






                .divTituloQueComer {


                  padding: 7px;


                  }







                 h1 {
                        font-size: 45px;
                        text-align: center;
                        color: #55D676;
                        margin: 5px;
                }









                h2 {
                        font-family: 'Roboto', cursive;
                        font-size: 20px;
                        text-align: center;
                        color: #ebebeb;
                        margin: 12px;
                         
                       }











                .divDescFormulario {
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        max-width: 50%;
                               }












                .divFormulario {
                        
                        display: flex;
                        gap: 8px;
                        padding: 22px;
 
                        flex-direction: row;
                        justify-content: center;
                        border: 2.1px solid #3f0c00;
                        background: #811800;
                        color: #FCFCFC;
                        border-radius: 5.65px;
                         width: 700px;
                        align-items: center;
                        justify-items: end;
                        
                                   }






                .divNombreNegocio{
                   
                }







                .divLabel {
                        
                  font-size: 25px;
                  padding: 12px;
                        
                }





















                 .botton {
                        background-color: #4CAF50; /* Green */
                        border: none;
                        color: #ebebeb;
                        height: 62px;
                        width: 144px;
                        margin-top: 33px;
                         border-radius: 5vh;
                   font-size: 16px;
                        }        









                  form {
                        display: flex;
                        gap: 23px;
                        flex-direction: column;
                        align-items: center
                  }









                        .rectForm {
                          
                          background-color: #ffc4c45e; 
                        border: solid #ebebeb;
                        color: #ebebeb;
                        height: 73px;
                        width: 333px;
                        border-radius: 2.65px;
                        }      








                        .divChecksComidas {
                          margin-top: 20px;
                        }      

                         


                        #survey_options{
                          padding: 14px;
                           
                        }


                        #survey_options input{
                          padding: 14px;
                          height: 20px;
                        }
                        





                        #controls {
                          padding: 14px;
                          height: 24px;
                          color: #ebebeb;
                          display: none;
                          flex-direction: row;
                        justify-content: center;
                        }



                        #controls-hambur {
                          padding: 14px;
                          height: 24px;
                          color: #ebebeb;
                          display: none;
                          flex-direction: row;
                          justify-content: center;
                        }






                        #controls a {
                          padding: 8px;
                          height: 34px;
                          
                          color: #ebebeb;
                        }




                        #controls-hambur a {
                          padding: 8px;
                          height: 34px;
                          
                          color: #ebebeb;
                        }

