
        
                body {
                        @import "compass/css3";
                        font-family: 'Fugaz One', cursive;
                        background: #15202B; 
                        letter-spacing: 0.4px;
                        background: rgb(69,33,130);
                        background: linear-gradient(180deg, rgba(69,33,130,1) 35%, rgba(34,33,130,1) 100%);
                        color: #FCFCFC;
                        min-height: 98vh;
            	}	


	        .seccionsuperior {
                        display: grid;
                        text-align: center;
                        margin-left: auto;
                        margin-right: auto;
                        gap: 11px;
                        max-width: 80%;
                        max-height: 100%;
                        justify-content: space-evenly;
                        justify-items: center;                      
		}





                 h1 {
                        margin: 1px;
                        font-size: 49px;
                        text-align: center;
                        color: #55D676;
                }




                .divComidas {
                        display: flex;
                        flex-direction: row;
                        text-align: center;
                        gap: 8px;
                        padding: 7px;
                        grid-template-columns: 2fr 1fr;
                        border: 2.1px solid #3f0c00;
                        background: #811800;
                        color: #FFC4C4;
                        border-radius: 7px;
                        max-width: 100%;
                        align-items: center;
                        justify-items: end;
                        
                }







/*      -------------------------------      *//*      -------------------------------      */
/*      -------------------------------      *//*      -------------------------------      */
/*      -------------------------------      *//*      -------------------------------      */
/*      -------------------------------      *//*      -------------------------------      */
/*      -------------------------------      *//*      -------------------------------      */
/*      -------------------------------      *//*      -------------------------------      */








                /* carrousel */
                .carro {
                position: relative;
                
                }








                /* Slides */
                .mySlides {
                display: none;
                padding: 40px;
                text-align: center;
                }




                /* adelantar y retroceder */
                .anterior, .siguiente {
                cursor: pointer;
                position: center;
                top: 50%;
                width: auto;
                margin-top: -30px;
                padding: 16px;
                color: #888;
                font-weight: bold;
                font-size: 20px;
                border-radius: 0 3px 3px 0;
                user-select: none;
                }




                /* boton siguente a  */
                .siguiente {
                position: center;
                right: 0;
                border-radius: 3px 0 0 3px;
                }




                /* en hover, a */
                .anterior:hover, .siguiente:hover {
                background-color: rgba(0,0,0,0.8);
                color: white;
                }





 










              /* d */



                /* Add a blue color to the author */
                .author {color: #fff1f1;
                        margin: 2px;
                        font-size: 20px;
                }











/*      -------------------------------      *//*      -------------------------------      */
/*      -------------------------------      *//*      -------------------------------      */
/*      -------------------------------      *//*      -------------------------------      */
/*      -------------------------------      *//*      -------------------------------      */
/*      -------------------------------      *//*      -------------------------------      */
/*      -------------------------------      *//*      -------------------------------      */








                .divLugares {
                        display: flex;
                        gap: 25px;
                        padding: 6px;
                        font-size: 69px;
                        flex-direction: column;

                        color: #FFC4C4;
                        border-radius: 7px;
                        max-width: 100%;
                        align-items: center;
                        justify-items: end;
                        
                }





                .divLugar {
                        display: flex;
                        
                        gap: 1px;
                        padding: 11px;                        
                        flex-direction: column;
                        flex-wrap: wrap;
                        flex: 0 0 10%;
                        color: #FFC4C4;
                        border: 7px;
                        border-color: red;
                        border-radius: 7px;
                        max-width: 100%;
                        align-items: center;
                        justify-items: end;
                        font-size: 21px;
                        
                }






                .restaurante a {
                        font-size: 79px;
                        color:  #fff1f1; 
 
                        border-radius: 7px;

                        padding:6px;
                        
                }







                 .button {
                        background-color: #4CAF50; /* Green */
                        border: none;
                        color: white;
                        }       
                        
                        



                        
                 .carousel {
                        background-color: #4CAF50; /* Green */
                        border: none;
                        color: white;
                        }    








                        footer {
                        position: absolute;
                        display: flex;
                        gap: 55px;
                        padding: 7px;
                        flex-direction: row;
                        background: #312182;
                        left: 0;
                        right: 0;               
                        margin-top: 113px;
                        color: #FCFCFC;
                        bottom: 0;
                        justify-content: center;
                        
            	}








                    .restaurante {
                        
                        font-size: 81px;
                        
            	}










	
      
